.container {
  display: flex;
  gap: 30px;
  padding: 40px;
  background-color: #1c1e3c;
  width: 100%;
  color: white;
}
.users {
  width: 300px;
  display: grid;
  gap: 20px;
}
.posts {
  flex: 1;
  border-left: 2px;
  padding-left: 20px;
}